.mobile-nav {
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #bbcb63;
    position: fixed;
    z-index: 998;
    transition: .5s;
    overflow: scroll;
    &--active {
        left: 0;
    }
    &__wrapper {
        padding: 20px;
        h2 {
            text-transform: uppercase;
            font-size: 16px;
        }
        &__footer-menu, &__main-category-nav, &__second-category-nav, &__footer-menu, &__tags, &__footer {
            p {
                font-weight: 300;
                font-size: 12px;
            }
        }
        &__main-category-nav {
            margin-top: 30px;
            #mobile-category-nav {
                ul {
                    li.active {
                        a {
                            color: #8aa338;
                        }
                    }
                    li {
                        a {
                            text-decoration: none;
                            font-size: 24px;
                            color: $color_black;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        &__second-category-nav {
            margin-top: 45px;
            nav {
                ul {
                    li.active {
                        a {
                            color: #8aa338;
                        }
                    }
                    li {
                        a {
                            color: $color_black;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 16px;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        &__tags {
            .tagcloud__wrapper {
                margin-left: -5px;
                overflow: visible !important;
                height: auto;
            }
            margin-top: 45px;
            a {
                background-color: $color_black !important;
                color: $color_secondary !important;
            }
        }
        &__footer-menu {
            margin-top: 30px;
            nav {
                ul {
                    li {
                        a {
                            text-transform: uppercase;
                            text-decoration: none;
                            color: $color_black;
                            font-weight: 300;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &__footer {
            margin-top: 45px;
            .socials {
                float: left;
                margin-top: 15px;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        margin-right: 22px;
                        position: relative;
                        a {


                            img {
                                height: 25px;
                                width: auto;
                            }
                        }
                    }
                }
            }
            &__search {
                float: right;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                align-items: center;
                margin-top: 16px;
                margin-bottom: 30px;
                cursor: pointer;
                p {
                    font-weight: bold;
                    font-size: 14px;
                    margin-right: 10px;
                }
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}
