.single-content {
	margin: 0 auto;
	padding-top: 50px;
	&__header {
		background-color: #fff;
	    top: 0;
		opacity: 0;
	    left: 0;
	    margin-bottom: 20px;
	    -webkit-transition: 1s !important;
	    transition: 1s !important;
	    position: fixed;
	    z-index: 999;
	    width: 100%;
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		top: -100%;
		h2 {
			font-size: 16px;
			margin: 0;
			padding: 20px 0 10px 0;
			text-align: center;
		}
		div {
			margin: 0;
			margin-bottom: 13px;
		}
		@include mq($min-width: 768px) {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			padding-left: 20px;
			padding-right: 20px;
			text-align: left;
			h2 {
				margin: 12px 0 16px 0;
			}
			div {
				margin: 0;
			}
		}
		@include mq($min-width: 1200px) {
			h2 {
				margin: 4px 0 14px 0;
				font-size: 24px;
			}
		}
	}
    &__wrapper {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 30px;
		margin: 0 auto;
		.tagcloud {
			padding-left: 0;
			padding-right: 0;
			margin-left: -5px;
			&__wrapper {
				height: auto;
			}
		}
		&--recipe {
			max-width: 1050px;
			padding-left: 15px;
			padding-right: 15px;
			.text-content {
				width: 100%;
				@include mq($min-width:768px) {
			        width: 60%;
			    }
			}

		}
		&--no-recipe {
			max-width: 650px;
		}
		@include mq($min-width: 575px) {
		}
        &__title {
            h1 {
                font-size: 32px;
				margin: 0;
				margin-top: 10px;
				text-transform: uppercase;
				line-height: 1;
				@include mq($min-width: 575px) {
					font-size: 48px;
					line-height: 1;
				}
            }
			&__above {
				p {
					font-size: 14px;
					&:first-child {
						color: $color-primary;
						font-weight: bold;
						text-transform: uppercase;
						display: inline-block;
					}
					&:last-child {
						font-weight: 400;
						display: inline-block;
						margin-left: 12px;
					}
				}
				@include mq($min-width: 575px) {
					font-size: 11px;
				}
			}
        }
		&__lead {
			font-family: $serif;
			h2 {
				font-weight: 400 !important;
				font-size: 26px;
				line-height: 1;
				margin: 15px 0;
				@include mq($min-width: 575px) {
					font-size: 32px;
					line-height: 1.1;
				}
			}
		}
		&__post-content-loop {
			position: relative;
			&__nextprev-nav {
				z-index: 9999;
				display: none;
				-webkit-transition: .5s;
				transition: .5s;
				@include mq($min-width:1120px) {
					width: 100%;
					display: block;
				}
				&__next, &__prev {
					position: fixed;
					top: calc(50% + 140px);
					padding: 0;
					margin: 0;
					max-width: 200px;
					text-decoration: none;
					color: $color_black;
					font-size: 12px;
					-webkit-transition: .5s;
					transition: .5s;
					&:hover {
						color: $color_primary;
					}
					&:after {
						content: '';
						position: absolute;
						width: 20px;
						height: 32px;
						background-size: 20px 32px;
						-webkit-transform: rotate(-90deg) scale(.5);
						        transform: rotate(-90deg) scale(.5);
					}

				}
				&__next{
					-webkit-transform: rotate(90deg) translateY(-50%);
					        transform: rotate(90deg) translateY(-50%);
					-webkit-transform-origin: right top;
					        transform-origin: right top;
					right: -100px;
					text-align: left;
					&:after {
						background-image: url('/blog/wp-content/themes/--usuniete--blog/images/next-post.png');
						left: -30px;
						bottom: -5px;
					}
				}
				&__prev {
					-webkit-transform: rotate(-90deg) translateY(-50%);
					        transform: rotate(-90deg) translateY(-50%);
					-webkit-transform-origin: left top;
					        transform-origin: left top;
					left: -100px;
					text-align: right;
					&:after {
						background-image: url('/blog/wp-content/themes/--usuniete--blog/images/prev-post.png');
						right: -30px;
						bottom: -6px;
						-webkit-transform: rotate(90deg) scale(.5);
						        transform: rotate(90deg) scale(.5);
					}
				}
			}
		}
    }
}
